body{
    text-align: center;
    background-color: rgb(46, 46, 84);
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 5px solid black;
    margin: 1.5rem;

}
.btn_container{
    display: flex;
    justify-content: center;

}
.yellow{
    background-color:rgb(246, 255, 0);
}
.red{
    background-color: rgb(237, 38, 38);
}
.green{
    background-color: rgba(29, 202, 38, 0.941);
}
.purple{
    background-color: rgb(31, 93, 236);
}

.flash{
    background-color: white;
}
.userflash{
    background-color: rgb(249, 249, 249);
}
